@font-face {
    font-family: weather;
    font-weight: bold;
    src: url("weather_icons.otf") format("opentype");
}
@font-face {
    font-family: Gilroy;
    font-weight: normal;
    src: url("Gilroy-Medium.ttf");
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}
.weather{
    position: relative;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Gilroy;
    height: 80vh;
    width:60vw;
    overflow: hidden;
    box-shadow: rgb(0, 0, 0, 37%) 0px 7px 29px 0px;
    background:var(--norm);
}

.day-holder{
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}
.day-border{
    width: 0px;
    border-left: #fff solid 2px;
    height: 90%;
    opacity: 0.5;
}
.dayIcon{
    position: relative;
    font-family: weather;
    font-size:50px;
    bottom:20px;
    height: 41px;
}
#shortName{
    display: none;
    z-index: 0;

}

.day{
    --norm: linear-gradient(70deg, rgb(23, 147, 230) 0%, rgb(6, 112, 199) 51%,rgb(16, 173, 179) 100%);
    --soft: rgb(124, 192, 255);
}
.night{
    --norm: linear-gradient(70deg, rgb(97, 13, 207) 0%, rgba(0,43,145,1) 51%, rgba(26,52,186,1) 100%);
    --soft: rgb(202, 165, 252);
}
.soft{
    background: var(--soft);
}
#bg{
    position: absolute;
    background-position: top center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.clouds{
    background-image: url('clouds.png');
    opacity: 0.3;
}
.rain{
    background-image: url('rain.png');
    opacity: 0.15;
}
.lightning{
    background-image: url('lightning.png');
    opacity: 0.3;
}
.weather-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    font-size: 20px; 
}
.desc{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: min-content;
}
.name-block{
    text-align: center;
}
.name{
    margin-bottom: 3px;
    font-size: 20px;
}
.city{
    font-size: 25px;
    font-weight: bold;
}
.temp{
    font-size: 80px;
    line-height: 1;
    position: relative;
    top:5px;
}

#weather-icon, .icon-name, .sun-icon{
    font-family: weather;
}
#weather-icon{
    font-size: 180px;
    height: 85px;
    line-height: 0;
}
.sun{
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
    width: 100%;
    height: min-content;
    margin-top: -10%;
}
.sun-icon{
    font-size: 40px;
    height: 47px;
    
}
.mob-top{
    display: none;
}
.pc-top{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;width: 100%;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
    height: 100%;width: 100%;
    z-index: 10;
}
.left, .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    height: 100%;
    width: 100%;
    border-radius: 20px 20px;
    flex-grow: 2;
}
.calendar{
    display: flex;
    justify-content: space-evenly;
    z-index: 200;
    width: 90%;
}
.dayTemp{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.border{
    width: 90%;
    border-bottom: #fff solid 2px;
    opacity: 0.4;

}
.block-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.icon-name{
    margin: auto 10px;
    line-height: 0.4;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 20px 20px;
    font-size: 30px; 
    padding-bottom: 10px
}
.block-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    font-size: 17px;
    
}
.block{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px 20px ;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color:#fff
}
.humidity{
    font-weight: bold; font-size: 18px;
}
.humidity-line{
    height: 7px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px;
    overflow: hidden;
    
}
.humidity-line-fill{
    background:var(--soft);
    height: 100%;
    border-radius: 4px 4px;
}
.speed{
    width: 90px;
    height: 45px;
    border-radius: 100px 100px 0 0;
    position: relative;
    margin: 22px 16px;
    border-top: 10px solid var(--soft);
    border-left: 10px solid var(--soft);
    border-right: 10px solid var(--soft);
}
.arrow{
    position: absolute;
    top: 90%;
    left: 20%;
    background: var(--soft);
    height: 5px;
    width: 25px;
    transform-origin: right;
    border-radius: 20px;
}
.speed-value{
    position: absolute;
    bottom: 0%;
    left:30%;
    font-weight: bold;
    font-size: 18px;
    width: max-content;
}
.speed-container{
    position: relative;
}
.speed p{
    position:absolute;
    color:rgb(255, 255, 255);
    font-size: 12px;
}
.cloud-line{
    height: 7px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px 4px;
    overflow: hidden;
}
.cloud-line-fill{
    background:var(--soft);
    height: 100%;
    border-radius: 4px 4px;
}
.big-value{
    font-size: 40px;
    margin: 10px 0;
    font-weight: bold;
}
#sunrise, #sunset{
    font-weight: bold;
}
@media only screen and (max-width: 840px) {
    .weather{
        height:100%;
        width:100%;
        border-radius: 0;
    }
    .mob-top{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 4px;
        border-bottom-left-radius: 15px 15px;
        border-bottom-right-radius: 15px 15px;

        width: 100%;
        background: rgb(0, 0, 0, 0.1);
        backdrop-filter: blur(25px);
    }
    .today{
        font-size: 18px;
        text-align: center;
    }
    .clock{
        text-align: center;
    }
    .calendar{
        justify-content: space-between;
    }
    .dayBlock{
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 9px;
        background: rgb(255, 255, 255, 0.2);
        border-radius: 15%;
    }
    .dayIcon{
        bottom:29px;
        height: 33px;
    }
    .day-border{
        display: none;
    }
    #shortName{
        z-index: 1;
    }
    .name{
        font-weight: bold;
    }
    #shortName{
        z-index: 7;
    }
    .temp{
        font-size: 70px;
    }
    #weather-icon{
        font-size: 140px;
        height: 70px;
    }
    .icon-name{
        margin: 10px 10px;
    }
    .bottom{
        border-radius: 0;
        border-top-left-radius: 8%;
        border-top-right-radius: 8%;
        backdrop-filter: blur(8px);
    }
    .top{
        font-size: 15px;
    }
    .humidity-line, .cloud-line, .speed{
        display: none;
    }
    .big-value{
        font-size: 18px;
    }
    .block-header{
        flex-direction: column;
    }
    .block{
        background:none;
    }
    .block-wrapper{
        background: rgb(255, 255, 255, 0.2);
        border-radius: 15px 15px;
        width: 90%;
    }
    .speed-container{
        display: flex;
        align-items: center;
        height: 100%;
    }
    .speed-value{
        position: unset;
    }
    .block p{
        margin:0;
    }

}